HTTP/1.1 301 Moved Permanently
Location: /charts/
Server: WebSTAR/4.2

rver: WebSTAR/4.2

rporation</h1><ul><h2>Helpful Convesion Charts</h2></center><li><A HREF="/charts/wvgdold.html">HP Band Designation</A><li><A HREF="/charts/wvgdnew.html">Rectangular Waveguides and Flanges</A><li><A HREF="/charts/pwrcnv.html">Conversion of Power</A><li><A HREF="/charts/freqclas.html">Frequency Classification</A><li><A HREF="/charts/decibels.html">Decibels</A><li><A HREF="/charts/resclr.html">Resistor Color Code</A><li><A HREF="/charts/capres.html">Capacitor Self Resistance</A><li><A HREF="/charts/elcfldlvs.html">Electric Field Levels</A><li><A HREF="/charts/vswrconv.html">Conversion of Return Loss to VSWR</A><li><A HREF="/charts/cisprlts.html">CISPR 22 Limits</A></ul><hr></body>