HTTP/1.1 301 Moved Permanently
Location: /charts/capres.lasso
Server: WebSTAR/4.2

IMG border=0 src="/images/banners/gen.gif"></a></center><h2>Capacitor Self Resonance</h2><hr><center><table border=5><tr><th rowspan=2><th colspan=3>Total Lead Length<tr><th>1/4"<th>1/2"<th>1"<tr><td>500 pf<td>100 MHz<td>72 MHz<td>50 MHz<tr><td>1000 pf<td>72 MHz<td>51 MHz<td>36 MHz<tr><td>0.01 uf<td>23 MHz<td>16 MHz<td>11 MHz<tr><td>0.1 uf<td>7.2 MHz<td>5.1 MHz<td>3.6 MHz<tr><td>0.3 uf<td>4.2 MHz<td>2.9 MHz<td>2.1 MHz<tr><td>0.5 uf<td>3.2 MHz<td>2.3 MHz<td>1.6 MHz</table></center><hr><center><table border=0><tr><td><A HREF="/"><img src="/images/logo.jpg"></A></td><td align="left"><b>Test Equipment Corporation</b><br>Rentals and Sales of Electronic Test and Measurement Equipment<br>(800)TEC-DOES<br><A HREF="/">http://www.testeq.com/</a></td></tr></table></center></body>