HTTP/1.1 301 Moved Permanently
Location: /charts/cisprlts.lasso
Server: WebSTAR/4.2

0 src="/images/banners/gen.gif"></a></center><h2>CISPR 22 LIMITS</h2><hr><center><table border=5><tr><th rowspan=4>R<BR>A<BR>D<BR>I<BR>A<BR>T<BR>E<BR>D<TH>FREQUENCY<TH>CLASS A<TH>CLASS B<TR><TD>30 - 230 MHz<TD>40 dV&#181 V/m<td>30 dB&#181 V/m<tr><td>230 - 1000 MHz<td>47 dB&#181 V/m<td>37 dB&#181 V/m<tr><td colspan=3 align=center>Quasi-Peak, Antenna at 10 Meters<TR><tr><th rowspan=5>C<BR>O<BR>N<BR>D<BR>U<BR>C<BR>T<BR>E<BR>D<TH>FREQUENCY<TH>CLASS A<TH>CLASS B<TR><TD>0.15 - 0.50 MHz<TD>66 dV&#181 V<td>56 to 46 dB&#181 V<tr><td>0.50 - 5 MHz<td>60 dB&#181 V<td>46 dB&#181 V<tr><td>5 - 30 MHz<td>60 dB&#181 V<td>50 dB&#181 V<tr><td colspan=3 align=center>Average</table></center><hr><center><table border=0><tr><td><A HREF="/"><img src="/images/logo.jpg"></A></td><td align="left"><b>Test Equipment Corporation</b><br>Rentals and Sales of Electronic Test and Measurement Equipment<br>(800)TEC-DOES<br><A HREF="/">http://www.testeq.com/</a></td></tr></table></center></body>