HTTP/1.1 301 Moved Permanently
Location: /charts/elcfldlvs.lasso
Server: WebSTAR/4.2

rder=0 src="/images/banners/gen.gif"></a></center><h2>Electric Field Levels</h2><hr><center><table border=5><tr><th><th>1 m<th>10 m<th>100 m<th>1 km<th>10 km<tr><td>1 w<td> 5.5 V/m<td>0.55 V/m<td>0.05 V/m<td> 5.5 mV/m<td>0.55 mV/m<tr><td>10 w<td> 17.4 V/m<td>1.7 V/m<td>0.17 V/m<td> 17 mV/m<td>1.7 mV/m<tr><td>100 w<td> 55 V/m<td>5.5 V/m<td>0.55 V/m<td> 55 mV/m<td>5.5 mV/m<tr><td>1 kw<td> 174 V/m<td>17.4 V/m<td>1.74 V/m<td> 170 mV/m<td>17 mV/m<tr><td>10 kw<td> 550 V/m<td>55 V/m<td>5.5 V/m<td> 550 mV/m<td>55 mV/m<tr><td>100 kw<td> 1740 V/m<td>174 V/m<td>17.4 V/m<td> 1.74 mV/m<td>174 mV/m</table></center><hr><center><table border=0><tr><td><A HREF="/"><img src="/images/logo.jpg"></A></td><td align="left"><b>Test Equipment Corporation</b><br>Rentals and Sales of Electronic Test and Measurement Equipment<br>(800)TEC-DOES<br><A HREF="/">http://www.testeq.com/</a></td></tr></table></center></body>