HTTP/1.1 301 Moved Permanently
Location: /charts/pwrcnv.lasso
Server: WebSTAR/4.2

order=0 src="/images/banners/gen.gif"></a></center><h2>Conversion of Power (dBm to MilliWatts)</h2><hr><center><table border=5><tr><th>Power (dBm)<th>MilliWatts<td><th>Power (dBm)<th>MilliWatts<td><th>Power (dBm)<th>MilliWatts<tr><td>-40<td>.00010<td> <td>-13<td>.0501<td><td>15<td>31.623<tr><td>-37<td>.00019<td><td>-10<td>.10<td><td>17<td>50.119<tr><td>-35<td>.00032<td><td>-7<td>.1995<td><td>20<td>100.0<tr><td>-33<td>.00050<td><td>-5<td>.3162<td><td>23<td>199.53<tr><td>-30<td>.001<td><td>-3<td>.5012<td><td>25<td>316.23<tr><td>-27<td>.002<td><td>0<td>1.0<td><td>27<td>501.19<tr><td>-25<td>.00316<td><td>3<td>1.9953<td><td>30<td>1.00w<tr><td>-23<td>.00601<td><td>5<td>3.1623<td><td>33<td>1.99w<tr><td>-20<td>.01<td><td>7<td>5.0119<td><td>35<td>3.16w<tr><td>-17<td>.01995<td><td>10<td>10.0<td><td>37<td>5.01w<tr><td>-15<td>.03162<td><td>13<td>19.953<td><td>40<td>10.00w</table></center><hr><center><table border=0><tr><td><A HREF="/"><img src="/images/logo.jpg"></A></td><td align="left"><b>Test Equipment Corporation</b><br>Rentals and Sales of Electronic Test and Measurement Equipment<br>(800)TEC-DOES<br><A HREF="/">http://www.testeq.com/</a></td></tr></table></center></body>